<div class="row">
    <div class="side">
      <h2>{{data.side.titulo1}}</h2>
      <h5>{{data.side.subtitulo1}}</h5>
      <div class="fakeimg" style="height:200px;">
      <img src="http://localhost:1337{{data.side.image1[0].url}}" alt="" style="height:100%;">
      </div>
      <p>{{data.side.descripcion1}}</p>
      <br>
      <h3>{{data.side.titulo2}}</h3>
      <p>{{data.side.subtitulo2}}</p>
      <br>
      <div class="fakeimg" style="height:96px;"><img src="http://localhost:1337{{data.side.image2[0].url}}" alt="" style="height:100%;"></div><br>
      <div class="fakeimg" style="height:60px;">Image</div><br>
      <div class="fakeimg" style="height:60px;">Image</div>
    </div>
    <div class="main">
      <h2>{{data.content.titulo1}}</h2>
      <h5>{{data.content.subtitulo1}}</h5>
      <div class="fakeimg" style="height:200px;">
        <img src="http://localhost:1337{{data.content.image1[0].url}}" alt="" style="height:100%;">
      </div>
      <p>Some text..</p>
      <p>{{data.content.descripcion1}}</p>
      <br>
      <h2>{{data.content.titulo2}}</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;"><img src="http://localhost:1337{{data.content.image2[0].url}}" alt="" style="height:100%;"></div>
      <p>Some text..</p>
      <p>{{data.content.descripcion2}}</p>
    </div>
  </div>