
.alert {
    font-family: $font-family-brand;
    font-size: .875rem;
    background: color( grayscale, gray-1 );
    padding: .9rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    border: 1px solid;
    letter-spacing: -.01rem;
    position: relative;
    &.whit-icon {
        &::before {
            font-family: 'ds';
            position: absolute;
            left: 1.2rem;
            font-size: 1.5rem;
            top: .45rem;
        }
    }
    @include e(title) {
        display: block;
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: .5rem;
        line-height: 1;
    }
    [class*="close"] {
        position: absolute;
        right: .9rem;
        font-size: 1.4rem;
        top: .8rem;
        cursor: pointer;
    }
    &.disappeared {
        animation: example .4s ease-out;
    }
    @keyframes example {
        from { opacity: 1 }
        to { opacity: 0 }
    }
}

@include alert-modifiers();