
*, 
*:before, *:after {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: $font-primary; 
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: flex;
	flex-direction: column;
	height: 100%;
}